{% extends 'base.html' %}

<!--aqui mostrara el mensaje final y que el usuario ya puede iniciar sesion -->

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <div class="card shadow-sm border-0">
                <div class="card-body p-5">
                    <h3 class="text-success mb-3"><i class="bi bi-check-circle"></i> ¡Contraseña Actualizada!</h3>
                    <p class="lead">Tu contraseña ha sido restablecida exitosamente.</p>
                    <a href="{% url 'login' %}" class="btn btn-primary mt-3 w-50">Ir a Iniciar Sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}